body {
background: #fefefe;
}
section {
    background: #ffffff
}


        .main-heading {
            color: #92140C;
        }
       
       .secondary-heading {
            color: #ee5555;
        }
        

        .special-heading {
            color: #21A179;
        }

        p {
            color: #08427c;
        }

       
            
        

        a {
            color: rgb(66, 3, 12);
        }
        nav a {
            color: #f5d4e0
        }

        .header {
            background: #5d5fc7;
        }

        .header-link {
            background: #a72727;
        }